<!doctype html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="main-content">
    {{>header}}
    <img src="img/RobertOhajda_medium.png">
</div>
{{>footer}}
</body>
</html>
